body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#e3ace0, #FFFFFF);
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.centered-header {
  text-align: center;
  font-size: 24px; /* Adjust the font size as needed */
  margin-bottom: 20px; /* Add some space below the header */
}

.app-container button {
  transition: transform 0.5s;
  border: none;
  color: white
}

.yesButton {
  background-color: #67cd69;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  margin: 0 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.noButton {
  background-color: #f698aa;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
}

.valentine-question {
  font-size: 2rem;
}

.yes-response {
  font-size: 2rem;
}

.app-container button:hover {
  transform: scale(1.2);
}